/* No animations for welcome page */

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 20rem; /* Consistency across all buttons */
  align-items: stretch;
  margin-top: 2rem;
}

.buttonGroup > * {
  width: 100% !important; /* Force override fit-content in Button component */
}
