.container {
  --header-height: 5rem;
  --footer-height: 151px;
}

@media (max-height: 600px) {
  .container {
    --footer-height: 91px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .container {
    --header-height: 3rem;
    --footer-height: 70px;
  }
}
